.tag {
    height: 34px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    border: 1px rgba(144, 144, 144, 0.8) solid;
    border-radius: 18px;
    background-color: rgba(255, 0, 0, 0);
    font-size: 14px;
    color: #353535;
    transition: background-color 0.3s ease, border 0.3s ease;
    cursor: pointer;
}

.tag:hover {
    border: 1px rgba(255, 0, 0, 0.5) solid;
    background-color: rgba(255, 0, 0, 0.2);
}

.remove-icon-container {
    width: 14px;
    height: 14px;
    margin-left: 6px;
    padding: 0;
    background: none;
    border: none;
}

.remove-icon-container img {
    width: 60%;
    height: 60%;
}
