<div class="background-image">
  <h1> Book Store </h1>

  <!-- Barra de búsqueda -->
  <div class="search-bar-container">
    <app-search-bar (search)="onSearch($event)"></app-search-bar>
  </div>

  <!-- Lista de libros -->
  <div class="book-list">
    <div>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Book Title</th>
            <th>Author</th>
            <th>Category</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let book of filteredBooks">
            <td class="button-cell">
              <!-- Eliminar libro -->
              <button class="round-button delete-book-button" (click)="deleteBook(book.id)">
                <img src="../../assets/delete_button_icon.png" alt="Delete Book Icon">
              </button>
              <!-- Editar libro -->
              <button class="round-button" (click)="updateBook(book.id)">
                <img src="../../assets/edit_button_icon.png" alt="Update Book Icon">
              </button>
            </td>
            <td [innerHTML]="book['title'] | highlight: searchText"></td>
            <td [innerHTML]="book['author']['name'] | highlight: searchText"></td>
            <td>
              <!-- Categorías -->
              <div class="category-tags">
                <app-removable-tag *ngFor="let category of book.categories" [tagText]="category.name"
                  [searchText]="searchText" (remove)="removeCategory(book.title, category.name)">
                </app-removable-tag>

                <!-- Agregar categoría -->
                <button class="round-button add-category-button" (click)="addCategory(book.id)">+</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Agregar libro -->
  <button class="create-book-btn" (click)="addBook()">+</button>
</div>