<div class="background-image">
    <h1> Book Store </h1>
    
    <!-- Barra de búsqueda -->
    <div class="search-bar-container">
        <app-search-bar (search)="onSearch($event)"></app-search-bar>
    </div>
    
    <!-- Lista de libros -->
    <div class="book-list">
        <div>
            <table>
                <thead>
                    <tr>
                        <th>Book Title</th>
                        <th>Author</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let book of filteredBooks">
                        <td [innerHTML]="book['title'] | highlight: searchText"></td>
                        <td [innerHTML]="book['author']['name'] | highlight: searchText"></td>
                        <td>
                            <ul class="category-list">
                                <li *ngFor="let category of book.categories">
                                    <span [innerHTML]="category.name | highlight: searchText"></span>
                                    <button 
                                        (click)="removeCategory(book.id, category.id)" 
                                        class="remove-category-button">
                                        Remove
                                    </button>
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

